### AccelerateAI - Learning Circle 
 **Model Selection & Deployment - Sep 2022**

Consider the dataset below. Use AIC and BIC to select the right features for Logistic regression model.

In [1]:
# Required libraries for model selection
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression

In [2]:
X, Y = make_classification(n_features=10, n_informative=5, n_samples=200)           #Only 5 features are useful

In [3]:
df_x = pd.DataFrame(X, columns=[f"var{i}" for i in range(X.shape[1])])
df_x.head()

,var0,var1,var2,var3,var4,var5,var6,var7,var8,var9
0,-0.453021,-1.309955,0.711514,0.892916,0.749807,-1.637874,0.604637,0.101287,-0.917159,0.177826
1,-0.683806,1.490915,0.934585,0.963957,-2.801243,-1.037855,-2.532061,-3.632280,0.587439,0.479721
2,-0.814131,2.955060,0.268216,-0.955737,-1.049040,-2.060844,1.309765,-2.241021,1.209335,2.109669
3,1.592008,1.323169,0.785985,-1.717110,1.770749,0.279089,4.638564,3.412188,-0.474392,-0.628273
4,0.030533,2.381260,-0.695284,-1.732203,-4.219120,0.036462,1.589677,-2.279235,-1.322937,-0.878600

In [4]:
df_y = pd.DataFrame(Y,columns=["target"])
df_y.head()

   target
0       1
1       1
2       1
3       0
4       1

In [5]:
# Train a logistic regression model 
lr = LogisticRegression()
lr.fit(df_x, df_y)
lr.coef_

C:\Users\kumarmanglam.thakur\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[ 0.09318674,  1.15122774, -0.43259519,  0.36770036, -1.1695605 ,
        -1.02256528,  0.51299849, -0.85012123, -0.4339101 , -0.30438606]])

***